{% extends 'job_seeker/base.html'%}
{% load custom_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="h-full">
  <div class="max-w-screen-xl mx-auto p-4 border-b-2 flex flex-col md:flex-row"> <!-- Added max-w-screen-xl, mx-auto, and p-4 for spacing -->
      <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
          <div class="flex justify-between">
              <span class="text-xl font-semibold block">User Profile</span>
              <a href="#" class="-mt-2 text-md font-bold text-white bg-gray-700 rounded-full px-5 py-2 hover:bg-gray-800 editProfile">Edit</a>
          </div>
          <span class="text-gray-600">This information is secret so be careful</span>
          <div class="w-full p-8 mx-2 flex justify-center">
              <img id="showImage" class="max-w-xs w-32 items-center border" src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200" alt="">                          
          </div>
      </div>

      <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
          <div class="rounded shadow p-6 defaultDetail">
              <div class="pb-6">
                  <label for="name" class="font-semibold text-gray-700 block pb-1">Name</label>
                  <div class="flex">
                      <input disabled id="username" class="border-1 rounded-r px-4 py-2 w-full" type="text" value="{{user_object.first_name}} {{user_object.last_name}}" />
                  </div>
              </div>
              <div class="pb-4">
                  <label for="about" class="font-semibold text-gray-700 block pb-1">Email</label>
                  <input disabled id="email" class="border-1 rounded-r px-4 py-2 w-full" type="email" value="{{user_object.email}}" />
                  <span class="text-gray-600 pt-4 block opacity-70">Personal login information of your account</span>
              </div>
          </div>
          <div class="rounded shadow p-6 profileFormDetail" style="display: none;">
              {% crispy profile_form %}
          </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $('.editProfile').on( "click", function() {
    $('.defaultDetail').hide();
    $('.profileFormDetail').show();
  } );
</script>

{% endblock %}


